In [1]:
import pandas as pd
import datetime

In [2]:
df_base=datetime.datetime.today()
df_base

datetime.datetime(2020, 5, 6, 14, 18, 35, 297971)

In [3]:
df_date_list=[df_base-datetime.timedelta(days=x) for x in range(0, 21)]
df_date_list

[datetime.datetime(2020, 5, 6, 14, 18, 35, 297971),
 datetime.datetime(2020, 5, 5, 14, 18, 35, 297971),
 datetime.datetime(2020, 5, 4, 14, 18, 35, 297971),
 datetime.datetime(2020, 5, 3, 14, 18, 35, 297971),
 datetime.datetime(2020, 5, 2, 14, 18, 35, 297971),
 datetime.datetime(2020, 5, 1, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 30, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 29, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 28, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 27, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 26, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 25, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 24, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 23, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 22, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 21, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 20, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 19, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 18, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 17, 14, 18, 35, 297971),
 datetime.datetime(2020, 4, 16, 14, 18, 35, 297971)]

In [4]:
df=pd.DataFrame(df_date_list)
df.columns=['Day']
df.head()

                         Day
0 2020-05-06 14:18:35.297971
1 2020-05-05 14:18:35.297971
2 2020-05-04 14:18:35.297971
3 2020-05-03 14:18:35.297971
4 2020-05-02 14:18:35.297971

In [5]:
df['day_of_week']=df["Day"].dt.weekday_name
df.head()

                         Day day_of_week
0 2020-05-06 14:18:35.297971   Wednesday
1 2020-05-05 14:18:35.297971     Tuesday
2 2020-05-04 14:18:35.297971      Monday
3 2020-05-03 14:18:35.297971      Sunday
4 2020-05-02 14:18:35.297971    Saturday

In [6]:
df['Day_number']=df["Day"].dt.dayofweek
df.head()

                         Day day_of_week  Day_number
0 2020-05-06 14:18:35.297971   Wednesday           2
1 2020-05-05 14:18:35.297971     Tuesday           1
2 2020-05-04 14:18:35.297971      Monday           0
3 2020-05-03 14:18:35.297971      Sunday           6
4 2020-05-02 14:18:35.297971    Saturday           5

In [7]:
week_day_map={
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}

df['Day_ordinal']=df.day_of_week.map(week_day_map)
df.head()

                         Day day_of_week  Day_number  Day_ordinal
0 2020-05-06 14:18:35.297971   Wednesday           2            3
1 2020-05-05 14:18:35.297971     Tuesday           1            2
2 2020-05-04 14:18:35.297971      Monday           0            1
3 2020-05-03 14:18:35.297971      Sunday           6            7
4 2020-05-02 14:18:35.297971    Saturday           5            6